{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <nav class="fixed-top navbar navbar-light p-0" style="background-color: burlywood">
        <p class="navbar-brand"><a  class="x20" href="">Моя библиотека</a> </p>
        <p class="navbar-brand"><a class="x20" href="/login">Авторизация</a>
            <a  class="m-4 x20" href="/register">Регистрация</a></p>
    </nav>
    <div class="container mt-5">
        <form method="post">
            <div class="d-flex flex-column p-2">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="mb-3">Авторизация</h1>
                <div class="form-group">
                    <label for="inputEmail">Электронная почта</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Пароль</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" width="160px" autocomplete="current-password" required>
                </div>
                <div class="form-group">
                    <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                </div>

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="form-group form-check p-0">
                    <button class="btn btn-info" type="submit">
                        Вход
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
